<div id="left_column">
	<div class="sidebar_box">
		
		<div class="sidebar_box_contents">
		<fieldset>
		<legend>Info</legend>
			<table>		
			<tr>
			<td class="label"><strong>Avatar:</strong></td>
			<td><%= gravatar_image_tag @user.email %></td>
			</tr>	
			<tr>
			<td class="label"><strong>Nick:</strong></td>
			<td><%= @user.name %></td>
			</tr>
			<tr>
			<td class="label"><strong>URL:</strong></td>
			<td><%= link_to user_path(@user), @user %></td>
			</tr>
			<tr>
			<td class="label"><strong>Posty:</strong></td>
			<td><%= @user.microposts.count %></td>
			</tr>
			</table>
		</fieldset>
		</div>
	</div>

	<div class="sidebar_box">
		
		<div class="sidebar_box_contents">
		<fieldset>
		<legend>Znajomi</legend>
			<table>			
			
			</table>
		</fieldset>
		</div>
	</div>
</div>


<div id="main_content">
<% if current_user?(@user) %>
	  <table class="front" summary="">
	    <tr>
	      <td class="main">
		<h1 class="micropost">Dodaj post: </h1>

		<%= form_for @micropost do |f| %>
		<div class="field">
		<%= f.text_area :content,:rows => 3, :cols => 50 %>
		</div>
		<div class="actions">
		<%= f.submit "Wyślij" %>
		</div>
		<% end %>
	      </td>
	   
	    </tr>
	  </table>
	<% end %>


	<% unless @user.microposts.empty? %>
	<table class="microposts" summary="Posty">

	<% @microposts.each do |micropost| %>

		<tr>
		<td class="micropost">
		<span class="timestamp">
		<hr>
		Wysłany <%= time_ago_in_words(micropost.created_at) %> temu.
		</span><br />
    		<i><span class="content"><%= micropost.content %></span></i>		
		</td>
		<% if current_user?(@user) %>
		<td>
		    <%= link_to 'Usuń', micropost, :confirm => 'Jesteś pewien?', :method => :delete %>
		</td>	
		<% end %> 	
		</tr>

	<% end %>

	</table>
	<% end %>


</div>
