<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
    

	<% if current_user?(@user) %>
	  <table class="front" summary="For signed-in users">
	    <tr>
	      <td class="main">
		<h1 class="micropost">Dodaj post: </h1>

		<%= form_for @micropost do |f| %>
		<div class="field">
		<%= f.text_area :content,:rows => 3,
                :cols => 60 %>
		</div>
		<div class="actions">
		<%= f.submit "Wyślij" %>
		</div>
		<% end %>
	      </td>
	   
	    </tr>
	  </table>
	<% end %>


	<% unless @user.microposts.empty? %>
	<table class="microposts" summary="User microposts">

	<% @microposts.each do |micropost| %>

		<tr>
		<td class="micropost">
		<span class="timestamp">
		<hr>
		Wysłany <%= time_ago_in_words(micropost.created_at) %> temu.
		</span><br />
    		<span class="content"><%= micropost.content %></span>		
		</td>

		</tr>

	<% end %>

	</table>
	<% end %>


    </td>
    <td class="sidebar round">
      <%= gravatar_image_tag @user.email %><br />
      <strong>Nick: </strong> <%= @user.name %><br />
      <strong>URL: </strong>  <%= link_to user_path(@user), @user %><br />
      <strong>Posty: </strong> <%= @user.microposts.count %>
    </td>
  </tr>
</table>

